doctype html
html
  head
    title= 'Distance'
    link(rel='stylesheet', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans&effect=anaglyph', rel='stylesheet', type='text/css')

  body
    div.container
      block content

    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src='/vendor/lodash/dist/lodash.min.js', type='text/javascript')
    script(src='/js/util/errormessage.js', type='text/javascript')
    script(src='/js/util/util.js', type='text/javascript')
    block view-script